body {
    background: rgb(34, 33, 33);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

#entrada input {
    margin-left: 10px;
    font-size: 15px;
}

#txtnum {
    width: 50px;
}

#res {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#res #vetornum {
    width: 200px;
    margin-top: 10px;
    font-size: 18px;
}

#res input {
    margin-top: 10px;
    font-size: 15px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}